@font-face {
   font-family: 'Days One';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/plona/OneDrive%20-%20Tr%C3%B8ndelag%20fylkeskommune/Private/lona.nu/russekort/fonts/Days One/regular.ttf') format('truetype');
}
